@font-face {
  font-family: norwester;
  src: url(../fonts/norwester.otf);
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-size: 16px;
}

main {
  flex: 1 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 71.75em;
  margin: 0 auto;
  padding: 0 1.5em;
  position: relative;
}

h2 {
  font-size: 2.5rem;
}

h1 {
  font-size: 2.125rem;
}

h3 {
  font-size: 2rem;
}

footer {
  flex: 0 0 auto;
}

body {
  height: 100%;
  background: #000000;
}

section {
  display: flex;
  position: relative;
  border-bottom: 3px solid #d28e6d;
}

section p, section li, section span {
  font-size: 1.17rem;
  line-height: 1.375;
  color: #ffffff;
}

section.share {
  justify-content: center;
  align-items: center;
  background: url(../images/headerBack.jpg) no-repeat;
  background-size: cover;
  height: 120px;
}

section.share .mainBtn {
  color: #ffffff;
  border-color: #ffffff;
  justify-content: space-around;
}

section.share .mainBtn div {
  border-right: 2px solid #ffffff;
}

section.share h1 {
  display: none;
}

section.banner {
  height: 276px;
  background: url(../images/banner-img-mobile.jpg) no-repeat center;
  background-size: 100%;
}

section.banner .bannerText {
  position: absolute;
  top: 32px;
}

section.banner .bannerText h1 {
  font-size: 2.5rem;
  width: 220px;
  color: #ffffff;
  line-height: 1.2em;
  text-align: center;
  font-family: norwester,Helvetica Neue,Helvetica,Arial,sans-serif;
}

section.banner .bannerText h1:after {
  display: none;
}

section.banner .bombayBannerBtn {
  display: none;
}

section.cocktail-description .pageBlock {
  padding: 0 0 1.5rem;
}

section.cocktail-description .pageBlock p {
  padding: 0 1.5rem;
  text-align: center;
  margin: .25em 0;
}

section.goldenSection {
  background: url(../images/goldenSectionImg.jpg) no-repeat center;
  background-size: 100%;
}

section.goldenSection iframe {
  display: none;
}

section.cocktail-page .pageBlock {
  padding: 60px 0 40px 0;
}

section.cocktail-page .pageBlock li {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

section.singleProduct {
  background: url(../images/single-product-golden.jpg) no-repeat center;
  background-size: cover;
  height: 620px;
}

section.singleProduct .pageBlock {
  justify-content: center;
  width: 100%;
}

section.singleProduct .pageBlock h3:after {
  display: none;
}

section.singleProduct .pageBlock .mainBtn {
  background-color: #af723a;
  color: #ffffff;
  margin-top: 25px;
}

section.keepInTouch {
  background: url(../images/headerBack.jpg) no-repeat;
  background-size: cover;
  min-height: 350px;
}

section.keepInTouch .pageBlock {
  width: 100%;
  justify-content: center;
}

section.keepInTouch .pageBlock .mainBtn {
  color: #ffffff;
  border-color: #ffffff;
  margin-top: 20px;
}

section.bombayInfo {
  display: none;
}

header {
  position: relative;
  background-image: url(../images/headerBack.jpg);
  background-size: 100%;
  border-bottom: 3px solid #d28e6d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  height: 104px;
  /*.spotlightControl {
    background: $black;
  }*/
}

header h1:after {
  display: none;
}

header .spotlightControl {
  position: absolute;
  right: 15px;
}

header .spotlightControl i {
  display: none;
}

header .spotlightControl .spotlightControlBtn {
  display: flex;
}

header .spotlightControl .spotlightControlBtn .slBtn {
  border-bottom: 1px solid #ffffff;
  margin-right: 15px;
  font-size: 13px;
  font-weight: bold;
}

header .headerNav {
  position: absolute;
  left: 15px;
}

header .headerNav .headerNavMenu {
  display: none;
}

h3, h2, h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-family: norwester,Helvetica Neue,Helvetica,Arial,sans-serif;
}

h3:after, h2:after, h1:after {
  content: " ";
  display: block;
  background-color: #d28e6d;
  height: 2px;
  width: 60px;
  margin: .5rem auto auto auto;
}

.pageBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pageBlock img {
  width: 100%;
}

.pageBlock .methodPoint {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageBlock .methodPoint .methodNumber {
  border: 2px solid #af723a;
  color: #af723a;
  width: 2rem;
  height: 2rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageBlock .methodPoint .methodItem {
  text-align: center;
  margin: 10px 0;
  padding: 0 50px;
}

footer li a {
  color: #ffffff;
  font-size: 1.17rem;
  font-family: norwester,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
}

footer .pageBlock .followUs ul {
  display: flex;
}

footer .pageBlock .followUs ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 20px 5px;
  background-color: #d28e6d;
  border-radius: 0.5rem;
}

footer .pageBlock .followUs ul li i {
  color: #ffffff;
}

footer .pageBlock .helpfulLinks ul {
  margin: 40px 0;
}

footer .pageBlock > .footerItem {
  padding: 30px 0;
}

footer .policyLinks {
  text-align: center;
  width: 100%;
  border-top: 2px solid #d28e6d;
  border-bottom: 2px solid #d28e6d;
  padding: 10px 0;
}

footer .policyLinks li {
  margin: 10px 0;
}

footer .copyright {
  margin-top: 40px;
}

footer .copyright .container {
  padding: 0;
}

footer .copyright .pageBlock {
  flex-direction: column;
  align-items: center;
}

footer .copyright .pageBlock img {
  width: 215px;
  height: 155px;
}

footer .copyright .pageBlock span {
  margin: 20px 0;
  color: #d28e6d;
  font-size: 14px;
  font-family: Trade Gothic Cond\ 20,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 1.875;
}

footer:after {
  content: "";
  display: block;
  background: url(../images/headerBack.jpg) no-repeat;
  background-size: cover;
  height: 26px;
  width: 100%;
}

.mainBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: none;
  color: #af723a;
  border-radius: 1rem;
  border: 2px solid #af723a;
  text-transform: uppercase;
}

@media screen and (min-device-width: 1025px) {
  header {
    height: 220px;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  header .headerNav {
    position: static;
  }
  header .headerNav .headerNavMenu {
    display: flex;
    width: 100%;
  }
  header .headerNav .headerNavMenu li {
    display: block;
    margin: 0 1px;
    padding: 1.7rem 1.5rem;
    border-top: 3px solid #d28e6d;
  }
  header .headerNav .headerNavMenu li a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
  }
  header .headerNav .headerNavMenu li a:hover {
    background: #5a291e;
    border-radius: 20px;
  }
  header .spotlightControl {
    position: static;
    width: 100%;
    background: #000000;
    height: 50px;
  }
  header .spotlightControl .spotlightControlBtn {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header .spotlightControl .spotlightControlBtn .slBtn:hover {
    cursor: pointer;
    color: #af723a;
  }
  header .headerNav i {
    display: none;
  }
  section .pageMainBlock {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  section .pageMainBlock .pageBlock img {
    width: 460px;
  }
  section.banner {
    height: 480px;
    background: url(../images/banner-img.jpg) no-repeat center;
    background-size: cover;
  }
  section.banner .bannerText {
    text-align: center;
    top: 130px;
  }
  section.banner .bannerText h1 {
    width: 435px;
    font-size: 3.75rem;
  }
  section.banner .bannerText h1:after {
    display: block;
  }
  section.goldenSection {
    height: 240px;
  }
  section.cocktail-page .pageMainBlock {
    flex-direction: row;
  }
  section.cocktail-page .pageMainBlock.cocktailMethod {
    flex-direction: row-reverse;
  }
  section.cocktail-page .pageMainBlock .pageBlock {
    width: 450px;
  }
  section.singleProduct .container {
    flex-direction: row;
  }
  section.singleProduct .container .pageBlock {
    width: 350px;
    margin-right: 310px;
  }
  section.singleProduct .container .pageBlock h2 {
    font-size: 3.75rem;
  }
  footer .pageBlock {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  footer .pageBlock .followUs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  footer .pageBlock .followUs h3:after {
    margin: .5rem auto 0 0;
  }
  footer .pageBlock .helpfulLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  footer .pageBlock .helpfulLinks h3:after {
    margin: .5rem 0 0 auto;
  }
  footer .policyLinks ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  footer .policyLinks ul li {
    margin: 0 10px;
  }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  section .pageMainBlock {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  section .pageMainBlock .pageBlock img {
    width: 350px;
  }
  section.banner {
    background: url(../images/banner-img.jpg) no-repeat center;
    background-size: cover;
  }
  section.banner .bannerText {
    margin-left: 150px;
  }
  section.goldenSection {
    height: 180px;
  }
  section.cocktail-page .pageMainBlock {
    flex-direction: row;
  }
  section.cocktail-page .pageMainBlock.cocktailMethod {
    flex-direction: row-reverse;
  }
  section.singleProduct .container {
    flex-direction: row;
  }
  section.singleProduct .container .pageBlock {
    width: 350px;
    margin-right: 310px;
  }
  section.singleProduct .container .pageBlock h2 {
    font-size: 3.75rem;
  }
  footer .pageBlock {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  footer .pageBlock .followUs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  footer .pageBlock .followUs h3:after {
    margin: .5rem auto 0 0;
  }
  footer .pageBlock .helpfulLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  footer .pageBlock .helpfulLinks h3:after {
    margin: .5rem 0 0 auto;
  }
  footer .policyLinks ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  footer .policyLinks ul li {
    margin: 0 10px;
  }
}

@media screen and (min-device-width: 569px) and (max-device-width: 768px) {
  body {
    font-size: .875rem;
  }
  section.banner {
    background: url(../images/banner-img.jpg) no-repeat;
    background-size: cover;
    height: 250px;
  }
  section.goldenSection {
    height: 130px;
  }
  section.singleProduct .container {
    flex-direction: row;
  }
  section.singleProduct .container .pageBlock {
    margin-right: 150px;
    width: 300px;
  }
  footer .pageBlock {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  footer .pageBlock .followUs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  footer .pageBlock .followUs h3:after {
    margin: .5rem auto 0 0;
  }
  footer .pageBlock .helpfulLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  footer .pageBlock .helpfulLinks h3:after {
    margin: .5rem 0 0 auto;
  }
}

@media screen and (max-device-width: 568px) {
  body {
    font-size: .9375rem;
  }
  header {
    height: 86px;
  }
  header .logo img {
    height: 40px;
  }
  header .spotlightControl i {
    display: inline;
  }
  header .spotlightControlBtn {
    display: none !important;
  }
  section.banner {
    height: 454px;
  }
  section.banner .bannerText {
    position: static;
    margin-top: 40px;
  }
  section.goldenSection {
    height: 75px;
  }
  section.singleProduct .pageBlock {
    height: 100%;
  }
}
