@font-face {
  font-family: norwester;
  src: url(../fonts/norwester.otf);
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-size: 16px;
}

main {
  flex: 1 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 71.75em;
  margin: 0 auto;
  padding: 0 1.5em;
  position: relative;
}

h2 {
  font-size: 2.5rem;
}

h1 {
  font-size: 2.125rem;
}

h3 {
  font-size: 2rem;
}

footer {
  flex: 0 0 auto;
}
